@charset "UTF-8";
body {
  font-family: "微软雅黑", "宋体";
  background: #EEEEEE;
  color: #333333; }

.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 10px; }

.weui-navigator-list li a {
  font-size: 14px; }

.weui-navigator-wrapper {
  height: 50px;
  line-height: 35px; }

.weui_grids {
  background: #ffffff; }

.content-box {
  background-color: #ffffff;
  margin-top: 10px; }

.top-warp-fixed {
  position: fixed;
  z-index: 222;
  width: 100%;
  top: 0;
  margin-bottom: 108px; }

.warp-box {
  margin-top: 90px; }

.content-box .cont-b-tit {
  border-bottom: 1px solid #eeeeee; }
  .content-box .cont-b-tit h3 {
    text-align: center;
    padding: 10px 0 3px 0;
    font-size: 14px; }
  .content-box .cont-b-tit p {
    font-size: 12px;
    text-align: center;
    color: #666; }
.content-box .product-ls {
  padding: 0 5px; }
  .content-box .product-ls li {
    float: left;
    width: 50%;
    padding: 5px; }
    .content-box .product-ls li a {
      display: block; }
      .content-box .product-ls li a .pro-ls-img img {
        width: 100%;
        height: 4.59375rem; }
      .content-box .product-ls li a .pro-ls-tit {
        font-size: 0.4375rem;
        color: #333;
        margin-top: -10px; }
      .content-box .product-ls li a .pro-ls-des {
        font-size: 0.375rem;
        color: #666666; }
      .content-box .product-ls li a .pro-ls-btm {
        font-size: 0.375rem;
        color: #666666; }
        .content-box .product-ls li a .pro-ls-btm .font-red {
          color: #FF0000;
          font-size: 0.375rem; }
        .content-box .product-ls li a .pro-ls-btm .pro-ls-btm-sale {
          float: right;
          font-size: 0.375rem; }
.tab-gr{
  color: #04be12;
  background: rgba(0,0,0,0) none repeat scroll 0 0;
  border-bottom: 3px solid #04be12;
}